stages:
  - build
  - test

build:
  stage: build
  script:
    - mkdir build
    - echo gitlab ci > build/dummy

  artifacts:
    paths:
      - build/

test:
  stage: test
  script:
    - cat build/dummy