stages:
  - build
  - test

build:
  stage: build
  script:
    - mkdir build
    - echo gitlab ci > build/dummy

  artifacts:
    paths:
      - build/

test:
  stage: test
  image: docker:latest
  script:
    # - cat build/dummy
    - docker --version