version: "3.8"

services:
  backend:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - ${PORT}:${PORT}

  db:
    image: postgres
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}